body{
  background-color: #333;
  margin: 0;
  background: url("./assets/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content{
  max-width: 70%;
  height: 100dvh;
  /* background-color: red; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.news-item{
  background-color: red;

}









